body {
   margin: 0;
   padding: 0;
}

.test__touch__one {
   width: 50%;
   height: 10.5rem;
   background-color: orange;
   text-align: center;
   text-justify: inherit;
}

.test__touch__one a {
   font-size: 3rem;
}